
.miniCLeft {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:x-large;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #7749f8;
    width: fit-content;
    padding: 2%;
    margin-left: -0.2rem;
    float: left;
    position: relative;
    background: white;
    bottom: -3px;

}

.miniCRight {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size:x-large;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #7749f8;
    width: fit-content;
    padding: 2%;
    margin-right: -0.2rem;
    float: right;
    position: relative;
    background: white;
    bottom: -3px;
}
